:root {
  --color-primary: #51e08a;
  --color-secondary: #000c36;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--color-secondary);
}
